/* .Button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 25px;
    outline: none;

  }
  
  .Button:hover {
    opacity: 0.8;
    cursor: pointer;
    color: blueviolet;
  }

  .Button:active {
    opacity: 0.5;
    color: rgb(27, 2, 2);
  } */