.App {
  text-align: center;
  background-color: rgb(153, 193, 207);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

/*
  wallet & app 
*/
.main-app {
  text-align: center;
  margin: 100px;
}
.NavTab {
  background-color: #4a7daf;
}
.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.connect-wallet-button {
  background: rgb(32, 129, 226);
}

.fund-button {
  background: orange;
}
